.header{
    background-color: #1C2B35;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}
.header a:hover{
    color: #fabf66;
}
.logout-button{
    background: #fabf66;
    border: none;
    outline: none;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
}