.header{
    background-color: #1C2B35;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}
.header a:hover{
    color: #fabf66;
}